/* General Styles */
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5e9d4;
  color: #8b6f47;
}

header {
  background-color: #f8b6a0;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #a2d5d0;
  overflow: hidden;
  border-bottom: 15px solid #e5e5e5;
  text-align: center;
}

nav a {
  display: inline-block;
  padding: 14px 16px;
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  background-color: #e5e5e5;
  color: #8b6f47;
}

main {
  padding: 20px;
  margin: 0 auto;
  max-width: 800px;
}

.portrait {
  display: block;
  margin: 0 auto 20px;
  max-width: 200px;
  border-radius: 50%;
}

blockquote {
  font-style: italic;
  border-left: 4px solid #a2d5d0;
  padding-left: 15px;
  color: #8b6f47;
}

/* Cards on hobbies page */
.grid {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 30%;
  padding: 10px;
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
  max-width: 100%;
  border-radius: 5px;
}

footer {
  background-color: #f8b6a0;
  color: white;
  text-align: right;
  padding: 10px;
  font-style: italic;
  position: absolute;
  bottom: 0;
  width: 100%;
}